/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --white: #FFFFFF;
  --blue: #00AAFF;
  --darkBlue: #191F6F;
  --orange: #faa500;
  --darkOrange: #fc4a1a;
  --grey: #bdc3c7;
  --darkGrey: #2c3e50;
  --fontPrimary: 'Roboto', sans-serif;
  --header-height: 80px;
  --shadow: 0 2px 2px 1px #666;
}

body * {
  font-family: var(--fontPrimary);
}
