/* Headers */
header {
  height: var(--header-height);
  width: 100%;
  background: linear-gradient(to bottom left, var(--darkBlue), var(--blue));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 1px 6px 1px #666;
}

header .header-left {
  font-size: 44px;
  color: var(--white);
}

header .header-right {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* search-container is the parent element */
header .search-container {
  height: 34px;
  width: 100%;
  position: relative;
}

/* header-search is the input */
header .header-search {
  height: 34px;
  width: 100%;
  padding: 3px 16px 0 16px;
  outline: none;
  border: 1px solid #666;
  border-radius: 50px;
  font-size: 20px;
  position: relative;
  z-index: 1;
}
header .header-search:hover {
  border: none;
  box-shadow: 0px 0px 3px 2px #666;
}
header .search-assist:hover .header-search,
header .header-search:focus {
  border: none;
  box-shadow: 0px 0px 3px 2px #666;
  border-radius: 15px 15px 0 0;
}
header .search-assist:hover .header-search {
  border: none;
  box-shadow: 0px 0px 3px 2px #666;
  border-radius: 15px 15px 0 0;
}

/* shield is a layer that masks the gap between the input and the suggestion list */
header .header-search:focus + .shield {
  height: 6px;
  width: 100%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: -227;
  z-index: 2;
}
header .header-search:focus + .shield > .separator {
  height: 1px;
  width: 96%;
  border: 1px solid #666;
  border-radius: 50px;
}

/* search-assist is the suggestion list */
header .search-assist {
  height: 227px;
  width: 100%;
  background: var(--white);
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  position: absolute;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 3px 2px #666;
  bottom: -230px; /* extra 3px to prevent shadow overlap */
  font-size: 18px;
  overflow-y: hidden;
  z-index: 0;
}
header .header-search:focus ~ .search-assist,
header .search-assist:hover {
  display: flex;
}

header .search-assist .suggestion {
  min-height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
}
header .search-assist .suggestion:hover {
  background: var(--orange);
  color: var(--white);
}

/* Main body */
main {
  height: calc(100vh - var(--header-height));
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/**
 * NEED INFO:
 * How will the SVG be adjusted based on location information?
 * Currently the SVG is being centered, assuming the location
 * will be returned in the center of the map
 */
main > .svg-container {
  height: 100%;
  width: 73%;
  background: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: var(--shadow);
  border-radius: 3px;;
}

#mainSvg {
  height: 100%;
  width: 100%;
}

main .right-side {
  height: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .location-information {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* border-radius: 3px; */
  /* box-shadow: var(--shadow); */
}

main .svg-tabs {
  height: 23%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
}

main .svg-tab {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  font-size: 22px;
  color: var(--white);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: all .15s ease-in-out;
  outline: none;
}
main .svg-tab:active {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
.svg-tab.orange {
  /* background: var(--orange); */
  background: linear-gradient(to bottom left, var(--darkOrange), var(--orange));
  border: 1px solid var(--darkOrange);
}
.svg-tab.blue {
  /* background: var(--blue); */
  background: linear-gradient(to bottom left, var(--darkBlue), var(--blue));
  border: 1px solid var(--darkBlue);
}

@media (min-width: 40.0rem) { /* Small devices (landscape phones, 576px and up) */

}
